---
layout: blog
title: 资源收藏
---

<link rel="stylesheet" href="/res/css/page.css">
<h2 class="category">资源收藏</h2>



<ul>
{% for org_hash in site.data.orgs %}
	<hr id="line"/>

	{% assign org = org_hash[1] %}
	<li class="category-box-sub"><a><i class="{{ org.icon }}"></i>&nbsp;{{ org.name }}&nbsp;<sup>{{ org.members | size }}</sup></a></li>

	<ul>
		{% for member in org.members %}	
			<li>
				<a class="category-sub-title" href="{{ member.link }}" {% if member.notnewblank != true %}target="_blank"{% endif %}>
					{{ member.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
	
{% endfor %}
</ul>
